{% extends "bootstrap_base.html" %}
{% block content %}
<div>
    <h4 class="text-info">About Me</h4>
    <p class="pt-1">
        Name - Keerthi daddala <br>
        CWID - 50294837 <br>
        Univ - Texas A&M university commerce <br>
        Studying : masters in computer science
    </p>
    <p>
    <h4 class="text-info pt-2 mt-2">Education:</h4>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Domain Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>B.Tech</td>
                    <td>CSE</td>
                </tr>
                <tr>
                    <td>MS</td>
                    <td>CS</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4 class="text-info pt-2 mt-2">Skill set :</h4>
        <ol>
            <li>Worked on ETL and PEGA</li>
        </ol>
    </div>
</div>
{% endblock %}